.content{
    width: 80vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.formClass{
    width: 40%;
    
}

.formClass div{
    margin-top: 3vh;
}

.formClass input{
    width: 30vw;
}

.button-container{
    display: flex;
    align-items: center;
    justify-content: center;
}